<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <!-- start of navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Dorm Room Snacks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown" style="position: relative;">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {{if .LoggedIn}}
                    {{if .IsStudent}}
                        <li class="nav-item">
                            <a class="nav-link" href="/Menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Cart">Cart/CheckOut</a>
                        </li>
                        <li class="nav-item" style="position: absolute; right: 0;">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="/Staff/Menu">View/Edit Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Staff/Orders">Order Queue</a>
                        </li>
                        <li class="nav-item" style="position: absolute; right: 0;">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    {{end}}
                {{else}}
                    <li class="nav-item" style="position: absolute; right: 0;">
                        <a class="nav-link" href="/Login">Login</a>
                    </li>
                {{end}}
            </ul>
        </div>
    </nav>
    <!-- end of navbar -->

    <!-- start main body -->
    <div class="container">
        <h2>Welcome back, {{.ClientName}}</h2>
        {{if .IsStudent}}
            <h3>Balances</h3>
            <hr>
            <p>Cash: ${{.Cash}}</p>
            <p>Meal Swipes: {{.MealSwipes}}</p>
            <br>
            <br>

            <h3>Send Meal Swipe</h3>
            <hr>
            <form class="form-inline" action="/sendMealSwipe" method="POST">
                <input type="text" name="toID" value="" placeholder="toID">
                <input type="text" name="numberSwipes" value="" placeholder="number of swipes">
                <button type="submit" class="btn btn-info my-1">Send Swipe</button>
            </form>
            <br>
            <br>

            <h3>OrderHistory</h3>
            <hr>
            <div class="row">
                <div class="col-2">
                    <strong>LocationID</strong>
                </div>
                <div class="col-2">
                    <strong>SwipeCost</strong>
                </div>
                <div class="col-2">
                    <strong>CentCost</strong>
                </div>
                <div class="col-2">
                    <strong>SubmitTime</strong>
                </div>
                <div class="col-2">
                    <strong>LastStatusChange</strong>
                </div>
                <div class="col-2">
                    <strong>Status</strong>
                </div>
            </div>
            {{if .OrderHistory}}
                {{range .OrderHistory}}
                    <div class="row">
                        <div class="col-2">
                            {{.LocationID}}
                        </div>
                        <div class="col-2">
                            {{.SwipeCost}}
                        </div>
                        <div class="col-2">
                            {{.CentCost}}
                        </div>
                        <div class="col-2">
                            {{.SubmitTime}}
                        </div>
                        <div class="col-2">
                            {{.LastStatusChange}}
                        </div>
                        <div class="col-2">
                            {{.Status}}
                        </div>
                    </div>
                {{end}}
            {{else}}
                <p>You have not placed an order yet</p>
            {{end}}
        {{end}}
    </div>
    <!-- end of main body -->
</body>

</html>